@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:'Roboto';
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F5E3E0;
}


.add-to-list {
  display: flex;
  flex-direction: column;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 15px;
  padding: 5px;
}

.add-to-list button {
  margin-top: 10px;
  background-color:rgb(20, 47, 220);
  color:white;
  font-size: 15px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-to-list input {
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  padding: 7px;
}

.list {
    margin-top: 20px;
}

.
